@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --main: hsl(220, 80%, 60%);
    --secondary: hsl(220, 80%, 35%);
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --border: hsl(0, 0%, 15%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 85%);
    font-family: "Chiron GoRound TC";
}

@media (prefers-color-scheme: light) {
    :root {
        --main: hsl(220, 80%, 60%);
    --secondary: hsl(220, 80%, 35%);
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --border: hsl(0, 0%, 85%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 15%);
    }
}

h1 {
    font-weight: 900;
    color: var(--text)
}

html {
    background-color: var(--bg-dark);
}

dashboard {
    margin: 2rem;
    display: grid;
    gap: 1rem;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.75rem;
    flex: 1;
}

#marine-life-counter-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.75rem;

    border-radius: 8px;
    border: 2px solid var(--border);
    background-color: var(--bg);
    width: 50%;
    height: 20dvh;

    margin-left: auto;

}

.marine-life-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text);
    background-color: var(--bg-light);
    border: 2px solid var(--text);
    border-radius: 8px;

    width: 100%;
    
}

.container > p {
    font-size: large;
}       